{% extends 'base.html' %}

{% block title %} Home |
{% endblock title %}

{% block body %}
<div class="container my-5">
  <div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
                <img src="https://source.unsplash.com/Pd4lRfKo16U/800x400" class="img-fluid" alt="">
            </div>
            <div class="col">
                <div class="card-block px-2">
                    </br>
                    <h5 class="card-title">  Welcome to Docmed</h5>
                    </br>
                    <h2 class="card-sub-heading"> <B>Best care of Good Health</B></h2>
                    <p class="card-text">Esteem spirit temper too say adieus who direct esteem. It esteems luckily or picture drawin.
                     Aparartments frequently or motionless on reasonable projecting expression. </p>
                </div>
            </div>
        </div>
  </div>
  </div>
  <div class="container my-3">
                <div class="col-md-4 offset-md-4">
                <div class="card-block">
                </br></br></br>
                    <h2 class="card-sub-heading"> <B>Our Departments</B></h2>
                </div>
              </div>
  </div>


  <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img src="https://source.unsplash.com/rcP7T6MPEIc/100x225" class="img-fluid" alt="">
                <div class="card-body">
                <h3 class="card-sub-heading"> <B>Eye Care</B></h3>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Learn more</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img src="https://source.unsplash.com/E285pJbC4uE/100x225" class="img-fluid" alt="">
                <div class="card-body">
                   <h3 class="card-sub-heading"> <B>Physical Therapy</B></h3> 
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Learn more</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img src="https://source.unsplash.com/tL4iLYL9Q5E/100x225" class="img-fluid" alt="">
                <div class="card-body">
                 <h3 class="card-sub-heading"> <B>Dental Care</B></h3> 
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Learn more</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      
{% endblock body %}
